body {
    background-image: url(./imagens/hogwarts.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-left: 20px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.4em;
    color:rgba(0, 0, 0, 0.747);
    text-align: center;
}

.container{
    display: inline-block;
    background-size: cover;
}

input {
    background-color: #ffffff25;
    font-size: 6vw;
    width: 10vw;
    height:10vw;
    margin: 0;
    color: rgba(0, 0, 0, 0);
    margin: 3px;
    border-radius: 7px;
    transform: 0.5s;
    border-color: black;
}
input:hover{
    transform:scale(1.07);
}

#reiniciar {
    margin-top: 2%;
    width: 10vw;
    height:3vw;
    font-size: 15px;
    color: black;
}

#reiniciar:hover{
    background-color: rgba(255, 123, 0, 0.822);
    color:white;
    font-style: italic;
}

#res{
    font-size: 40px;
    color: black;
    margin-top: 0;
    font-style: italic;
    font-weight: bolder;
    animation: effect;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction:alternate-reverse;
}

@keyframes effect{
    0%{color: rgba(184, 172, 3, 0.493);}
    20%{color: rgba(146, 167, 29, 0.795);}
    50%{color: rgba(189, 126, 8, 0.863);}
    80%{color: rgba(190, 115, 16, 0.89);}
    100%{color:yellow;}
}

