body {
    background-image: url(./imagens/hogwarts.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-left: 20px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.4em;
    color:rgba(0, 0, 0, 0.747);
    text-align: center;
    display: inline-block;
}

input {
    background-color: #ffffff25;
    font-size: 6vw;
    width: 10vw;
    height:10vw;
    margin: 0;
    color: rgba(0, 0, 0, 0);
    margin: 3px;
    border-radius: 7px;
}

#reiniciar {
    margin-top: 2%;
    width: 10vw;
    height:3vw;
    font-size: 15px;
    color: black;
}

#reiniciar:hover{
    background-color: rgba(255, 0, 0, 0.932);
    color:white;
    font-style: italic;
}

#res{
    font-size: 30px;
    color: black;
    font-style: italic;
    font-weight: bolder;
    margin-top:0px;
    margin-left: 180%;
    animation: effect;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction:alternate-reverse;
}

@keyframes effect{
    0%{color: aqua;}
    20%{color: blue;}
    50%{color: red;}
    80%{color: white;}
    100%{color:yellow;}
}

