body {
    background-image: url(./imagens/hogwarts.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 100px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.4em;
    color:rgba(0, 0, 0, 0.747);
    text-align: center;
    display: inline-block;
}

input {
    background-color: #ffffff25;
    font-size: 6vw;
    width: 10vw;
    height:10vw;
    margin: 0;
    color: rgba(0, 0, 0, 0);
    margin: 3px;
    border-radius: 7px;
}

#reiniciar {
    margin-top: 2%;
    width: 10vw;
    height:3vw;
    font-size: 15px;
    color: black;
}

#reiniciar:hover{
    background-color: rgba(255, 0, 0, 0.932);
    color:white;
    font-style: italic;
}



